body {
    font-family: "Lato", sans-serif;
    color: #2d3c49;
    font-weight: 300;
    overflow-x: hidden;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.title-logo {
    margin-top: 30px;
}

.title-super {
    font-size: 60px;
    width: auto;
}

hr {
    border: none;
    height: 3px;
    background-color: #7d97ad;
}

#tft {
    color: #7d97ad;
}

.text-thin {
    font-weight: 100;
}

.main-pic {
  width: 100%;
}

.ar1{
  width: 100%;
}

.ar2{
  width: 100%;
}

.ar3{
  width: 100%;
}

#ft1 {
    padding: 10px 0;
    background-color: black;
    color: white;
}

.top1 {
  padding-top: 12px;
}

.top2 {
  padding-right: 1em;
  font-size: 30px;
}

.modal-body {
    font-weight: bold;
}
